/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,h1,h2,p,a {
    margin: 0;
    padding: 0;
    color: black; /* Default text color */
    font-family: 'Arial', sans-serif; /* Default font family */
}

img {
    max-width: 100%;/* Make images responsive within their container */
    height: auto;/* Maintain aspect ratio */
    display: block;/* Remove extra space below inline images */
    /* margin: 50px; */
}
a {
    text-decoration: none;
}
header 
{
    background-color: #08347c;/* Your header background color */
    padding: 1rem;/* Adjust padding as needed */
    color: white;/* Text color for header content */
    text-align: center;/* Center-align text content */
    /* display: flex; */
    height: 90vh;
    /* width: 100vw; */
}

header p,header a,header h1,header h2 
{
    color: inherit;/* Inherit text color for paragraphs and links */
}

/* Add your styles for the utility bar */
.utility-bar {
    /* margin-left: 10vw; */
    /* Adjust margin as needed */
    padding: 5px;
    /* Adjust padding for the utility bar */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
}

.contact-info {
    display: flex;
    align-items: center;
}
.contact-info img {
    width: 15px;
    margin: 5px;
}
.email,.phone {
    font-size: 15px;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    /* margin-right: 3vw; */
}

.social-icons {
    margin-right: 3vw;
    /* Adjust margin as needed */
    display: flex;
}

.social-icons img {
    width: 15px;
    height: 15px;
    margin-left: 1rem;
}

.social-icons a:hover img {
    opacity: 0.8;
}
header .main-nav .brand-name .secondpart {
    color: #f06454;
}
/* Additional styles for main navigation */
.main-navigation {
    margin-top: 10px;
    margin-left: 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}

.brand {
    display: flex;
    align-items: center;
}

.brand-name {
    display: flex;
    align-items: center;
}

.firstpart {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.secondpart {
    font-size: 24px;
    font-weight: bold;
    color: #f06454;
    /* Change color for the second part */
}

.menu-list {
    display: flex;
    margin-right: 5vw;
}

.menu-list li {
    margin-left: 1rem;
    margin-right: 1rem;
    list-style: none;
}

.menu-list a {
    font-size: 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu-list a:hover 
{
    text-decoration: underline;
    text-decoration-color: #f06454;
    /* text-decoration-thickness: 4px;
    text-underline-offset: 5px; */
}
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.menu-toggle span {
    display: block;
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s;
}
@media (max-width: 900px) {
    .menu-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: #08347c;
    }

    .menu-list.active {
        display: flex;
    }
    .utility-bar {
        display: none;
    }

    .menu-toggle {
        display: flex;
    }

    .menu-toggle.active span:nth-child(1) {
        transform: rotate(-45deg) translate(-4px, 5px);
    }

    .menu-toggle.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active span:nth-child(3) {
        transform: rotate(45deg) translate(-4px, -5px);
    }
}
.hero {
    padding: 10rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #08347c;
    color: white;
}

.hero-content {
    display: flex;
    gap: 3rem;
    margin-right: 10vw;
}

.hero-content-section {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: left;
    align-items: flex-start;
    gap: 2rem;
    margin-left: 10vw;
}

.hero h1 {
    font-size: 4rem;
}

.hero-subtitle {
    font-size: 1.5rem;
    font-weight: 300;
    opacity: 0.8;
    letter-spacing: 2px;
}

.hero-buttons {
    display: flex;
    gap: 1rem;
}

.outline-btn {
    display: flex;
    border: 2px solid #224591;
    padding: 1rem 2rem;
    border-radius: 30px;
    color: white;
    font-weight: 500;
    transition: all 0.3s ease;
    font-size: 18px;
    background-color: #213f80;
}
.outline-btn img {
    width: 16px;
    margin-right: 10px;
}
.hero-image img {
    /* max-width: 100%; */
    /* height: auto; */
}

.cards-container {
    width: auto;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: -13rem;
}
.cards-content
{
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    justify-content: center;
    gap: 1rem;
}
.cards-content h2
{
    font-size: 2rem;
    font-weight: 500;
}
.cards-content p
{
    font-size: 1.2rem;
    font-weight: 300;
    opacity: 0.8;
    letter-spacing: 1px;
}
.card {
    width: 200px;
    height: 200px;
    background-color: #224591;
    border-radius: 10px;
    padding: 2rem;
    margin: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: #085c7c;
}
.card p,.card a,.card h1,.card h2
{
    color: white;
}

.about-us {
    padding: 10rem 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}

.about-us-content {
    width: 100%;
    max-width: 1200px;
}

.title-about {
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.title-about h2 {
    font-size: 3rem;
}

.about-us-section {
    display: flex;
    gap: 2rem;
}

.left-half,
.right-half {
    flex: 1;
}

.left-half {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.left-half .title {
    font-size: 3rem;
    font-weight: 500;
}

.left-half img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
}

.right-half {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.right-half .title {
    font-size: 3rem;
    font-weight: 500;
}
.right-half .list-item 
{
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.right-half .list-item img {
    width: 20px;
    height: 20px;
}

.right-half p {
    font-size: 1.2rem;
    font-weight: 300;
    opacity: 0.8;
    letter-spacing: 1px;
}

.big-image {
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 10px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .about-us {
        padding: 5rem 2%;
    }

    .about-us-section {
        flex-direction: column;
    }

    .about-us-content .about-us-section {
        width: 100%;
        margin-left: 0;
    }

    .left-half,
    .right-half {
        width: 100%;
    }

    .left-half img {
        max-width: 100%;
    }
}

.clients-container {
    padding: 10rem 0;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-around;
    /* background-color: #f8f4f4; */
}
.clients-container img
{
    width: 10%;
}

.stats {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    text-align: left;
    /* background-color: #f5f5f5; */
}
.stat
{
    /* text-align: left; */
    display: flex;
    align-items: center;
    gap: 1rem;
}
.clients-stat {
    display: flex;
    margin-left: 8%;
    /* flex-direction: column; */
    align-items: center;
    gap: 1rem;
}
.stats .stat h2, .stats .stat p .stats .stat b{
    text-align: center;
}
.stats .stat h2
{
    color: blue;
}

.clients-stat .stat h2 {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: left;
}

.clients-stat .stat p {
    font-size: 1em;
    color: #666;
}

.services {
    padding: 10rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f4f4;
}
.cta {
    position: relative;
    width: 100%;
    height: 400px;
}

.cta img {
    width: 100%;
    height: 100%;
}
.cta-bg-div
{
    border-radius: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
}

.overlay h2 {
    margin-bottom: 20px;
    color: #fff;
}

.overlay p {
    margin-bottom: 40px;
    color: #fff;
}


.cta-btn
{
    /* padding: 10px 20px; */
    /* border: none; */
    /* background-color: #007BFF; */
    /* color: #fff; */
    /* cursor: pointer; */
    border-radius: 5px;
    /* text-weight: bold; */
}

.services-title {
    padding-bottom: 2rem;
    text-align: center;
}

.services-title h2 {
    font-size: 3rem;
    font-weight: 500;
}

.services-title p {
    font-size: 1.2rem;
    font-weight: 300;
    opacity: 0.8;
    letter-spacing: 1px;
    margin-top: 1rem;
}

.service-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.card-container {
    background-color: white;
    width: calc(30% - 2rem);
    height: 300px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.service-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    font-size: 1.5rem;
    font-weight: 500;
}

.card-text {
    font-size: 1rem;
    font-weight: 300;
    opacity: 0.8;
    letter-spacing: 1px;
    margin-top: 1rem;
}

.read-more {
    color: blue;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.card-container:hover {
    transform: translateY(-10px);
}

.read-more:hover {
    color: darkblue;
}
.portfolio {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    /* light grey */
    background-color: #f1f1f1;
}

.portfolio-title {
    text-align: center;
    color: #000;
}

.portfolio-title h2 {
    font-size: 48px;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.portfolio-title p {
    font-size: 16px;
    color: #666;
    margin-bottom: 10vh;
}

.portfolio-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.portfolio-list li {
    cursor: pointer;
    color: #000;
    font-size: 18px;
}
.portfolio-list li:hover {
    color: #007bff;
}
.products
{

    padding: 10rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 2rem;

}
.pro-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 30%;
    border-radius: 5px;
}
.pro-card img {
    border-radius: 5px 5px 0 0;
}
.pro-card img:hover {
    transform: scale(1.1);
}
.pro-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.pro-container {
    padding: 2px 16px;
}
.team-section {
    padding: 10rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f4f4;
}
.team-section>h2 {
    font-size: 5rem;
    font-weight: 500;
    margin-bottom: 3rem;
}
.team-section>p {
    font-size: 1.2rem;
    font-weight: 300;
    opacity: 0.8;
    letter-spacing: 1px;
    margin-bottom: 3rem;
}
.teams-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}
.team-member {
    width: 400px;
    height: 500px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team-member>img {
    width: 390px;
    height: 390px;
    border-radius: 5%;
    object-fit: cover;
}

.team-member h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

.team-member p {
    color: #666;
    margin-bottom: 20px;
}
#teamss
{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

/* .social-icons {
    display: flex;
    justify-content: space-around;
}

.social-icons a img {
    width: 20px;
    height: 20px;
} */

.faq-section {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

.faq-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.faq {
    margin-bottom: 20px;
}

.faq h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.faq p {
    margin-left: 20px;
}